//header
header{
    background-color: $color1;
    margin-bottom: 0;
    position: sticky;
    top:0;
    img{
        width: 100px;
        padding-left: 5px;
        padding-top: 5px;
        border-radius: 50%;
    }
    .navbar{
        background-color: $color1;
        .navbar-brand{
            color: white;
            font-weight: bold;
        }
          .nav-link{
            @extend .navbar-brand
        }
          .nav-link:hover{
            color: black;
        }
    }
}
//footer
footer {
    background-color: $color1;
    footer p {
        color: white;
        text-align: center;
    }
    footer img {
        width: 100px;
        border-radius: 50%;
        background-color: $color1;
    }
}