//titulos
h1{
    text-align: center;
    background-color: $celeste;
    color: $blanco;
}
h2{
    text-align: center;
    background-color: #9BA4B5;
    color: $blanco;
}
h3{
    text-align: center;
    background-color: #9099aa;
    color: $blanco;
}
h1{
    text-align: center;
    background-color: $celeste;
    color: $blanco;
}
h2{
    text-align: center;
    background-color: #9BA4B5;
    color: $blanco;
}
h3{
    text-align: center;
    background-color: #9099aa;
    color:$blanco;
}